@model U21557277__HW04.Models.UserModel

@{
    ViewBag.Title = "About";
    
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>




    <p>
     EduKey is short for "Education is the Key". This NPO  was founded in 2020 during the pandemic. It is a tutoring
     organisation whereby students from primary school level all the way to undergraduate level have access to free
     tutoring lessons on selected subjects/modules.
    </p>

    <p>
     The organisation has made a huge impact in many students lives and that is exactly what it's mission is.
     Some of the countries top students got their lessons from this organization.

    </p>

    <p>
        Please visit our home page for more info, and see our contacts are below.
    </p>
    

@{
    Layout = "~/Views/_LayoutPage1.cshtml";
}

