
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutPage1.cshtml";
}



<!-- home 4grids block -->
<section class="services-w3l-block py-5" id="features">
    <div class="container py-md-5 py-4">
        <div class="title-main text-center mx-auto mb-md-5 mb-4" style="max-width:500px;">
            <h3 class="title-style">Achieve Your Goals With EduKey</h3>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch">
                <div class="icon-box icon-box-clr-1">
                    <img src="~/assets/Images2/UseCase1.png" alt="" class="img-fluid" />
                    <h4 class="title"><a href="#about">Use Case 1</a></h4>

                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mt-md-0 mt-4">
                <div class="icon-box icon-box-clr-2">
                    <img src="~/assets/Images2/UseCase2.png" alt="" class="img-fluid" />
                    <h4 class="title"><a href="#about">Use Case 2</a></h4>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mt-lg-0 mt-4">
                <div class="icon-box icon-box-clr-3">
                    <img src="~/assets/Images2/UseCase3.png" alt="" class="img-fluid" />
                    <h4 class="title"><a href="#about">Use Case 3</a></h4>

                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mt-lg-0 mt-4">
                <div class="icon-box icon-box-clr-4">
                    <img src="~/assets/Images2/UseCase4.png" alt="" class="img-fluid" />
                    <h4 class="title"><a href="#about">Use Case 4</a></h4>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- home 4grids block -->
<!-- home image with content block -->
<section class="w3l-servicesblock pt-lg-5 pt-4 pb-5 mb-lg-5" id="about">
    <div class="container pb-md-5 pb-4">
        <div class="row pb-xl-5 align-items-center">
            <div class="col-lg-6 position-relative home-block-3-left pb-lg-0 pb-5">
                <div class="position-relative">
                    <img src="~/assets/Images2/Images3/ClassStructure.png" alt="" class="img-fluid radius-image">
                </div>

            </div>
            <div class="col-xl-5 col-lg-6 offset-xl-1 mt-lg-0 mt-5 pt-lg-0 pt-5">
                <h3 class="title-style">Class Structure diagram</h3>
            </div>
        </div>
    </div>
</section>

<!-- Subjects section -->
<div class="w3l-grids-block-5 home-course-bg py-5" id="courses">
    <div class="container py-md-5 py-4">
        <div class="title-main text-center mx-auto mb-md-5 mb-4" style="max-width:500px;">
            <h3 class="title-style">Find The Right Subjects For You</h3>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="coursecard-single">
                    <div class="grids5-info position-relative">
                        <img src="~/assets/images/c3.jpg" alt="" class="img-fluid" />
                        <div class="meta-list">
                            <a href="courses.html">Primary School Level</a>
                        </div>
                    </div>
                    <div class="content-main-top">
                        <div class="content-top mb-4 mt-3">
                            <ul class="list-unstyled d-flex align-items-center justify-content-between">
                                <li> <i class="fas fa-book-open"></i> 15+ Subjects</li>
                                <li> <i class="fas fa-star"></i> 4.5</li>
                            </ul>
                        </div>
                        <p>Lessons are offered face-to-face only. </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-md-0 mt-4">
                <div class="coursecard-single">
                    <div class="grids5-info position-relative">
                        <img src="~/assets/Images2/Images3/HighSchool.jpg" alt="" class="img-fluid" />
                        <div class="meta-list">
                            <a href="courses.html" class="sec-2">High School Level</a>
                        </div>
                    </div>
                    <div class="content-main-top">
                        <div class="content-top mb-4 mt-3">
                            <ul class="list-unstyled d-flex align-items-center justify-content-between">
                                <li> <i class="fas fa-book-open"></i> 10+ Subjects</li>
                                <li> <i class="fas fa-star"></i> 4.3</li>
                            </ul>
                        </div>
                        <p>Lessons are offered both face-to-face and online.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-lg-0 mt-4">
                <div class="coursecard-single">
                    <div class="grids5-info position-relative">
                        <img src="~/assets/Images2/Images3/Undergraduate.jpg" alt="" class="img-fluid" />
                        <div class="meta-list">
                            <a href="courses.html" class="sec-3">Undergraduate Level</a>
                        </div>
                    </div>
                    <div class="content-main-top">
                        <div class="content-top mb-4 mt-3">
                            <ul class="list-unstyled d-flex align-items-center justify-content-between">
                                <li> <i class="fas fa-book-open"></i> 60+ Modules</li>
                                <li> <i class="fas fa-star"></i> 4.2</li>
                            </ul>
                        </div>
                        <p>Lessons are offered both face-to-face and online.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- why choose block -->
<section class="w3l-service-1 py-5">
    <div class="container py-md-5 py-4">
        <div class="title-main text-center mx-auto mb-md-5 mb-4" style="max-width:500px;">
            <p class="text-uppercase">Meet some of our best volunteering Tutors </p>

        </div>
    </div>

<!--Tutors block-->
    <section class="w3l-index4 py-5" id="testimonials">
        <div class="container py-md-5 py-4">
            <div class="content-slider text-center">
                <div class="clients-slider">
                    <div class="mask">
                        <ul>
                            <li class="anim1">
                                <img src="~/assets/images/testi1.jpg" class="img-fluid rounded-circle"
                                     alt="client image" />
                                <blockquote class="quote">
                                    <q>
                                        I tutor 1st and 2nd year Statistics. Teaching is at the center of my heart, I am
                                        passionate about it. I have been teaching for 7 years.
                                    </q>
                                </blockquote>
                                <div class="source">- Maria Stuurman</div>
                            </li>

                            <li class="anim2">
                                <img src="~/assets/Images2/Images3/Peter.jpg" class="img-fluid rounded-circle"
                                     alt="client image" />
                                <blockquote class="quote">
                                    <q>
                                        I specialize  in high school level Physical sciences and mathematics.
                                        There is something special about education hence I want to be part of
                                        the people who help instill the knowledge to students from all over the country.
                                        I have been teaching for more than 10 years.
                                    </q>
                                </blockquote>
                                <div class="source">- Peter Mabena</div>
                            </li>
                            <li class="anim3">
                                <img src="~/assets/Images2/Images3/Anna.jpg" class="img-fluid rounded-circle "
                                     alt="client image" />
                                <blockquote class="quote">
                                    <q>
                                        I am a honours student at the university of Johannesburg. Tutoring has helped
                                        grow and develop skills as a student myself. I have been tutoring since my second year
                                        and I teach chemistry, genetics as well as high school Life sciences.
                                    </q>
                                </blockquote>
                                <div class="source">- Anna Aphane</div>
                            </li>
                            <li class="anim4">
                                <img src="~/assets/Images2/Images3/Bonnie.png" class="img-fluid rounded-circle"
                                     alt="client image" />
                                <blockquote class="quote">
                                    <q>
                                        Teaching is something I was born to do. It has been 8 years now and I
                                        still have so much passion for it. I teach primary level mathematics, economic &
                                        and Management Science and Natural sciences.
                                    </q>
                                </blockquote>
                                <div class="source">- Lindiwe Molala</div>
                            </li>
                            <li class="anim5">
                                <img src="~/assets/images/testi2.jpg" class="img-fluid rounded-circle"
                                     alt="client image" />
                                <blockquote class="quote">
                                    <q>
                                        I have been teaching for 6 years. Teaching the next person was a method I used to
                                        study and it has always worked wonders. I tutor High school level IT and CAT.
                                    </q>
                                </blockquote>
                                <div class="source">- Bonnie Peterson</div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Tutors-->
   
